{% extends "base.html" %}
{% import 'bootstrap5/form.html' as wtf %}

{% block app_content %}
<a href="../lists">
    <button class="btn btn-primary"> < Назад</button>
</a>
<br><br>

<div class="row">
    <div class="col col-sm-3">
        <div class="card">
            <div class="card-header">
                Информация о маршрутном листе
            </div>
            <div class="card-body">
                {{ macros.info_table(['Дата', 'Маршрут', 'Автобус', 'Водитель', 'Статус'], list) }}
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                Рейсы
            </div>
            <div class="card-body">
                {% if list[5] == 'Завершен' %}
                    {{ macros.table('lists/'+list[0]|string, ['Время начала', 'Время конца'], flights, actions=False)}}
                {% else %}
                    {{ macros.table('lists/'+list[0]|string, ['Время начала', 'Время конца'], flights)}}
                {% endif %}
            </div>
        </div>
    </div>

    {% if session.role >= 1 %}
    <div class="col col-sm-3">
        <div class="card">
            <div class="card-header">
                Изменить статус
            </div>
            <div class="card-body">
                {{ wtf.render_form(status_form, button_style='secondary') }}
            </div>
        </div>
        <br>
        {% if list[6] == 2 %}
        <div class="card">
            <div class="card-header">
                Добавить рейс
            </div>
            <div class="card-body">
                {{ wtf.render_form(flight_form, button_style='secondary', action='/lists/'+list[0]|string+'/add') }}
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                Изменить рейс
            </div>
            <div class="card-body">
                {{ wtf.render_form(change_form, button_style='secondary', action='/lists/'+list[0]|string+'/change') }}
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}